<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="amazoniaresilientes.durand.josue.amazoniaresiliente">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:screenOrientation="portrait"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Sincronizar.Sincronizar"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".Login.Main2Activity" android:screenOrientation="portrait" />
        <activity android:name=".Login.LoginActivity" android:screenOrientation="portrait" />
        <activity android:name=".Room.SincronizarPoligono" android:screenOrientation="portrait" />
        <activity android:name=".Inicio.RegisterClienteActivity" android:screenOrientation="portrait"  />
        <activity android:name=".Inicio.SeleccionActivity" android:screenOrientation="portrait" />
        <activity android:name=".Inicio.PhotoActivity" android:screenOrientation="portrait" />
        <activity android:name=".Inicio.MapaActivity" android:screenOrientation="portrait"  />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".Inicio.SplashActivity" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>